body{
 margin: 0px;
 padding: 0px;   
}
.name{
    position: absolute;
   font-size: 40px;
   
  margin: 0px;
  padding: 0px;
   margin-left: 50px;
    color: aqua;
    z-index: 2;

}

.data{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 100px;
    color: aqua;
}
.profile{
    position: absolute;
   width: 1250px;
   z-index: 1;
}
